{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="inline">
        <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}">Back</a>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
    </div>
</form>
