{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
        <style>
            @font-face {
                font-family: 'Glyphicons Halflings';
                src:    url('{{ asset('fonts/glyphicons-halflings-regular.eot') }}');
                src:    url('{{ asset('fonts/glyphicons-halflings-regular.eot') }}?#iefix') format('embedded-opentype'),
                        url('{{ asset('fonts/glyphicons-halflings-regular.woff2') }}') format('woff2'),
                        url('{{ asset('fonts/glyphicons-halflings-regular.woff') }}') format('woff'),
                        url('{{ asset('fonts/glyphicons-halflings-regular.ttf') }}') format('truetype'),
                        url('{{ asset('fonts/glyphicons-halflings-regular.svg') }}#glyphicons_halflingsregular') format('svg');
            }
        </style>
        {% stylesheets '@bootstrap_less' output="css/bootstrap.css" %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% stylesheets '@general_less' output="css/general.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% stylesheets '@libs_css' output="css/libs.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        {% javascripts '@jquery_js' output="js/jquery.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@bootstrap_js' output="js/bootstrap.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@libs_js' output="js/libs.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['{% if app.request.locale == 'de' %}de-DE{% else %}en-US{% endif %}']);
            $.extend($.fn.bootstrapTable.defaults, {
                mobileResponsive: true,
                minWidth: 764,
                minHeight: undefined,
                heightThreshold: 100, // just slightly larger than mobile chrome's auto-hiding toolbar
                checkOnInit: true,
                columnsHidden: []
            });
        </script>
    </head>
    <body>
        <!-- Navigation bar start -->
        <div class="navbar navbar-fixed-top navbar-inverse">
            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('flatmate_utilities_homepage') }}">{{ 'title'|trans }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
            {% if app.user %}
                <ul class="nav navbar-nav navbar-left">
                    <li {% if path('expense') in currentPath %} class="active" {% endif %}>
                        <a href="{{ path('expense') }}">{{ 'nav.menu.expenses'|trans }}</a>
                    </li>
                    <li {% if path('consumption') in currentPath %} class="active" {% endif %}>
                        <a href="{{ path('consumption') }}">{{ 'nav.menu.consumptions'|trans }}</a>
                    </li>
                    <li {% if path('category') in currentPath %} class="active" {% endif %}>
                        <a href="{{ path('category') }}">{{ 'nav.menu.categories'|trans }}</a>
                    </li>
                    <li {% if path('forecast') in currentPath %} class="active" {% endif %}>
                        <a href="{{ path('forecast') }}">{{ 'nav.menu.forecasts'|trans }}</a>
                    </li>
                </ul>
            {% endif %}
                <ul class="nav navbar-nav navbar-right m-right-10">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ 'nav.user.user'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if app.user %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li {% if currentPath == path('user') %} class="active" {% endif %}>
                                        <a href="{{ path('user') }}">{{ 'nav.user.manager'|trans }}</a>
                                    </li>
                                {% endif %}
                                <li {% if currentPath == path('fos_user_profile_show') %} class="active" {% endif %}>
                                    <a href="{{ path('fos_user_profile_show') }}">{{ 'nav.user.profile'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'nav.user.logout'|trans }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'nav.user.login'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}">{{ 'nav.user.register'|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ app.request.locale|upper }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.locale == 'en' %} class="active" {% endif %}>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                            </li>
                            <li {% if app.request.locale == 'de' %} class="active" {% endif %}>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">DE</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navigation bar end -->
        <!-- Container start -->
        <div class="container" id="content">
            <div class="row">
                <!-- Content start -->
                <div class="col-md-8 col-md-offset-2">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-info"><i class="icon-info-sign"></i>&nbsp;<strong>{{ 'alert.info'|trans }}</strong>&nbsp;{{ flashMessage }}</div>
                    {% endfor %}
                </div>
                {% block body %}{% endblock %}
                <!-- Content end -->
            </div>
        </div>
        <!-- Container end -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
