{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div class="inline">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary " />
        <a  href="{{ path('fos_user_change_password') }}" class="btn btn-default ">Change Password</a>
    </div>
</form>

