{% trans_default_domain 'FOSUserBundle' %}

<h1>User Profile</h1>

<table class="record_properties table table-no-bordered table-striped">
    <tbody>
    <tr>
        <th>{{ 'profile.show.username'|trans }}</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>{{ 'profile.show.email'|trans }}</th>
        <td>{{ user.email }}</td>
    </tr>
    </tbody>
</table>

<div class="inline">
<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Edit Profile</a>
<a href="{{ path('fos_user_change_password') }}" class="btn btn-default">Change Password</a>
</div>