{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}forecast.forecasts{% endtrans %}</h1>

    <table class="records_list table table-striped table-no-bordered" data-toggle="table" data-sort-name="expense" data-sort-order="asc" data-pagination="true" data-page-size="100" data-page-list="[10,50,100]">
        <thead>
        <tr>
            <th data-field="category" data-sortable="true">{% trans %}forecast.field.category{% endtrans %}</th>
            <th data-field="expense" data-sortable="true">{% trans %}forecast.field.expense{% endtrans %}</th>
            <th data-field="expected_consumption" data-sortable="true">{% trans %}forecast.field.expected_consumption{% endtrans %}</th>
            <th data-field="consumption_until_now" data-sortable="true">{% trans %}forecast.field.consumption_until_now{% endtrans %}</th>
            <th data-field="expected_costs" data-sortable="true">{% trans %}forecast.field.expected_costs{% endtrans %}</th>
            <th data-field="costs_until_now" data-sortable="true">{% trans %}forecast.field.costs_until_now{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in forecasts %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.expense.category.id }) }}">{{ entity.expense.category }}</a></td>
                <td><a href="{{ path('expense_show', { 'id': entity.id }) }}">{{ entity.expense.name }}</a></td>
                <td><b>{{ entity.expectedConsumption|localizednumber('decimal') }} {{ entity.expense.category.unit }}</b> {% trans %}forecast.until{% endtrans %} {{ entity.endDate|localizeddate('medium', 'none') }}</td>
                <td><b>{{ entity.consumptionUntilNow|localizednumber('decimal') }} {{ entity.expense.category.unit }}</b> {% trans %}forecast.since{% endtrans %} {{ entity.startDate|localizeddate('medium', 'none') }}</td>
                <td><b>{{ entity.expectedCosts|localizedcurrency(currency) }}</b> {% trans %}forecast.until{% endtrans %} {{ entity.endDate|localizeddate('medium', 'none') }}</td>
                <td><b>{{ entity.costsUntilNow|localizedcurrency(currency) }}</b> {% trans %}forecast.since{% endtrans %} {{ entity.startDate|localizeddate('medium', 'none') }}</td>
                <td>
                    <a href="{{ path('forecast_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}expense.show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}