{% extends '::base.html.twig' %}

{% block body %}

    <h1>{% trans %}forecast.forecast{% endtrans %}</h1>

    <table class="record_properties table table-no-bordered table-striped">
        <tbody>
        <tr>
            <th>{% trans %}forecast.field.category{% endtrans %}</th>
            <td>
                <a href="{{ path('category_show', { 'id': entity.expense.category.id }) }}">{{ entity.expense.category }}</a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}forecast.field.expense{% endtrans %}</th>
            <td>
                <a href="{{ path('expense_show', { 'id': entity.id }) }}">{{ entity.expense.name }}</a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}forecast.field.expected_consumption{% endtrans %}</th>
            <td><b>{{ entity.expectedConsumption|localizednumber('decimal') }} {{ entity.expense.category.unit }}</b> {% trans %}forecast.until{% endtrans %} {{ entity.endDate|localizeddate('long', 'none') }}</td>
        </tr>
        <tr>
            <th>{% trans %}forecast.field.consumption_until_now{% endtrans %}</th>
            <td><b>{{ entity.consumptionUntilNow|localizednumber('decimal') }} {{ entity.expense.category.unit }}</b> {% trans %}forecast.since{% endtrans %} {{ entity.startDate|localizeddate('long', 'none') }}</td>
        </tr>
        <tr>
            <th>{% trans %}forecast.field.expected_costs{% endtrans %}</th>
            <td><b>{{ entity.expectedCosts|localizedcurrency(currency) }}</b> {% trans %}forecast.until{% endtrans %} {{ entity.endDate|localizeddate('long', 'none') }}</td>
        </tr>
        <tr>
            <th>{% trans %}forecast.field.costs_until_now{% endtrans %}</th>
            <td><b>{{ entity.costsUntilNow|localizedcurrency(currency) }}</b> {% trans %}forecast.since{% endtrans %} {{ entity.startDate|localizeddate('long', 'none') }}</td>
        </tr>
        </tbody>
    </table>

    <div class="pull-left">
        <a href="{{ path('forecast') }}" class="btn btn-default pull-left">
            {% trans %}forecast.back_list{% endtrans %}
        </a>

        <a href="{{ path('expense') }}" class="btn btn-default m-left-10 pull-left">
            {% trans %}expense.expenses{% endtrans %}
        </a>

        <a href="{{ path('consumption') }}" class="btn btn-default m-left-10 pull-left">
            {% trans %}consumption.consumptions{% endtrans %}
        </a>
    </div>

{% endblock %}

