@media only screen and (max-width: 768px) {
  #content {
    margin-top: 50px;
  }

  .navbar-inverse {
    background-color: rgba(0, 0, 0, 0.9);
  }

  form.fos_user_registration_register,
  form.fos_user_registration_login,
  form.fos_user_resetting_request,
  form.fos_user_resetting_reset,
  form.fos_user_profile_edit,
  form.fos_user_change_password,
  form.fos_user_user_edit,
  form.fos_user_user_new {
    width: 100%;
  }
}