body {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-color: #000;
  background-attachment: fixed;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#content {
  background-color: rgba(0, 0, 0, 0.66);
  padding: 50px;
  margin-top: 100px;
  color: #C0C0C0;
}

.col-md-8.col-md-offset-2 {
  float: none;
}

form.fos_user_registration_register,
form.fos_user_registration_login,
form.fos_user_resetting_request,
form.fos_user_resetting_reset,
form.fos_user_profile_edit,
form.fos_user_change_password,
form.fos_user_user_edit,
form.fos_user_user_new {
  width: 50%;
  padding: 25px 0;
}

.account-confirmed {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin: 50px 0 30px;
}

#content {
  padding-top: 10px;
}

.clearfix #form {
  width: 50%;
  margin-left: 10px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-right-10 {
  margin-right: 10px;
}

