{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}expense.expense{% endtrans %}</h1>
    <h2>{% trans %}expense.edit{% endtrans %}</h2>

    {{ form_start(edit_form) }}

    <h3>{% trans %}expense.group.basic{% endtrans %}</h3>
    <div class="row">

        <div class="pull-left col-md-3 {% if edit_form.category.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.category) }}
            {{ form_widget(edit_form.category) }}
            {{ form_errors(edit_form.category) }}
        </div>

        <div class="pull-left col-md-4 {% if edit_form.name.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-7">

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-hand-right"></span>
                {% trans %}expense.hint.date_period{% endtrans %}
                <br><br>
                {% trans %}expense.hint.period_example{% endtrans %}
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-3 {% if edit_form.date.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.date) }}
            {{ form_widget(edit_form.date) }}
            {{ form_errors(edit_form.date) }}
        </div>

        <div class="pull-left col-md-2 {% if edit_form.periodCount.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.periodCount) }}
            {{ form_widget(edit_form.periodCount) }}
            {{ form_errors(edit_form.periodCount) }}
        </div>

        <div class="pull-left col-md-2 {% if edit_form.periodType.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.periodType) }}
            {{ form_widget(edit_form.periodType) }}
            {{ form_errors(edit_form.periodType) }}
        </div>

    </div>

    <h3>{% trans %}expense.group.consumption{% endtrans %}</h3>

    <div class="row">

        <div class="col-md-7">

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-hand-right"></span>
                {% trans %}expense.hint.consumption{% endtrans %}
            </div>

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.count.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.count) }}
            {{ form_widget(edit_form.count) }}
            {{ form_errors(edit_form.count) }}
        </div>

        <div class="pull-left col-md-3 {% if edit_form.consumption.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.consumption) }}
            {{ form_widget(edit_form.consumption) }}
            {{ form_errors(edit_form.consumption) }}
        </div>

    </div>

    <h3>{% trans %}expense.group.cost{% endtrans %}</h3>

    <div class="row">

        <div class="col-md-7">

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-hand-right"></span>
                {% trans %}expense.hint.deposit{% endtrans %}
            </div>

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-7 {% if edit_form.deposit.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.deposit) }}
            {{ form_widget(edit_form.deposit) }}
            {{ form_errors(edit_form.deposit) }}
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-7">

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-hand-right"></span>
                {% trans %}expense.hint.cost_fee_period{% endtrans %}
                <br><br>
                {% trans %}expense.hint.period_example{% endtrans %}
            </div>

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-3 {% if edit_form.fee.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.fee) }}
            {{ form_widget(edit_form.fee) }}
            {{ form_errors(edit_form.fee) }}
        </div>

        <div class="pull-left col-md-2 {% if edit_form.feePeriodCount.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.feePeriodCount) }}
            {{ form_widget(edit_form.feePeriodCount) }}
            {{ form_errors(edit_form.feePeriodCount) }}
        </div>

        <div class="pull-left col-md-2 {% if edit_form.feePeriodType.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.feePeriodType) }}
            {{ form_widget(edit_form.feePeriodType) }}
            {{ form_errors(edit_form.feePeriodType) }}
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-7">

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-hand-right"></span>
                {% trans %}expense.hint.cost_unit{% endtrans %}
            </div>

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-7 {% if edit_form.costPerUnit.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.costPerUnit) }}
            {{ form_widget(edit_form.costPerUnit) }}
            {{ form_errors(edit_form.costPerUnit) }}
        </div>

    </div>

    <br>

    <div class="clearfix">
        {{ form_widget(edit_form.submit, { 'label': 'expense.update' ,  'attr': {'class': 'btn-primary pull-left'} }) }}

        {{ form_end(edit_form) }}

        {{ form(delete_form, { 'attr': {'class': 'pull-left'} }) }}

        <a href="{{ path('expense') }}" class="btn btn-default m-left-10">
            {% trans %}expense.back_list{% endtrans %}
        </a>
    </div>
{% endblock %}
