{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}expense.expenses{% endtrans %}</h1>

    <table class="records_list table table-striped table-no-bordered" data-toggle="table" data-sort-name="date" data-sort-order="desc" data-pagination="true" data-page-size="100" data-page-list="[10,50,100]">
        <thead>
            <tr>
                <th data-field="category" data-sortable="true">{% trans %}expense.field.category{% endtrans %}</th>
                <th data-field="date" data-sortable="true">{% trans %}expense.field.date{% endtrans %}</th>
                <th data-field="name" data-sortable="true">{% trans %}expense.field.name{% endtrans %}</th>
                <th data-field="period" data-sortable="true">{% trans %}expense.field.period_count{% endtrans %}</th>
                <th data-field="count" data-sortable="true">{% trans %}expense.field.count{% endtrans %}</th>
                <th data-field="consumption" data-sortable="true">{% trans %}expense.field.consumption{% endtrans %}</th>
                <th data-field="deposit" data-sortable="true">{% trans %}expense.field.deposit{% endtrans %}</th>
                <th data-field="fee" data-sortable="true">{% trans %}expense.field.fee{% endtrans %}</th>
                <th data-field="cost_per_unit" data-sortable="true">{% trans %}expense.field.cost_per_unit{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.category.id }) }}">{{ entity.category }}</a></td>
                <td><span class="hidden">{{ entity.date|date('Y-m-d') }}</span>{{ entity.date|localizeddate('medium', 'none') }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.periodCount }}
                    {% if entity.periodType == constant('PERIOD_TYPE_DAY', entity) %}
                        {% transchoice entity.periodCount %}expense.period.day{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_WEEK', entity) %}
                        {% transchoice entity.periodCount %}expense.period.week{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_MONTH', entity) %}
                        {% transchoice entity.periodCount %}expense.period.month{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_YEAR', entity) %}
                        {% transchoice entity.periodCount %}expense.period.year{% endtranschoice %}
                    {% endif %}
                </td>
                <td>{{ entity.count|localizednumber }} {{ entity.category.unit }}</td>
                <td>{{ entity.consumption|localizednumber }} {{ entity.category.unit }}</td>
                <td>{{ entity.deposit|localizedcurrency(currency) }}</td>
                <td>{{ entity.fee|localizedcurrency(currency) }}
                    {% if entity.fee %}
                        {% trans %}expense.period.every{% endtrans %}
                    {% endif %}
                    {{ entity.feePeriodCount }}
                    {% if entity.feePeriodType == constant('PERIOD_TYPE_DAY', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.day{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_WEEK', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.week{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_MONTH', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.month{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_YEAR', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.year{% endtranschoice %}
                    {% endif %}
                </td>
                <td>{{ entity.costPerUnit|localizedcurrency(currency) }}</td>
                <td>
                    <a href="{{ path('expense_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}expense.show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('expense_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}expense.edit{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <div class="pull-left">
        <a href="{{ path('expense_new') }}" class="btn btn-primary">
            {% trans %}expense.add{% endtrans %}
        </a>
        <a href="{{ path('category') }}" class="btn btn-default">
            {% trans %}category.categories{% endtrans %}
        </a>
    </div>
    {% endblock %}
