{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}expense.expense{% endtrans %}</h1>

    <h2>{% trans %}expense.create{% endtrans %}</h2>

    {% if category == false %}

        <div class="alert alert-info" role="alert">{% trans %}expense.alert.no_category{% endtrans %}</div>

        <a href="{{ path('category_new') }}" class="btn btn-primary">
            {% trans %}category.add{% endtrans %}
        </a>

    {% else %}

        {{ form_start(form) }}

        <h3>{% trans %}expense.group.basic{% endtrans %}</h3>

        <div class="row">

            <div class="pull-left col-md-3 {% if form.category.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>

            <div class="pull-left col-md-4 {% if form.name.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-7">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    {% trans %}expense.hint.date_period{% endtrans %}
                    <br><br>
                    {% trans %}expense.hint.period_example{% endtrans %}
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-3 {% if form.date.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>

            <div class="pull-left col-md-2 {% if form.periodCount.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.periodCount) }}
                {{ form_widget(form.periodCount) }}
                {{ form_errors(form.periodCount) }}
            </div>

            <div class="pull-left col-md-2 {% if form.periodType.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.periodType) }}
                {{ form_widget(form.periodType) }}
                {{ form_errors(form.periodType) }}
            </div>

        </div>

        <h3>{% trans %}expense.group.consumption{% endtrans %}</h3>

        <div class="row">

            <div class="col-md-7">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    {% trans %}expense.hint.consumption{% endtrans %}
                </div>

            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-4 {% if form.count.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.count) }}
                {{ form_widget(form.count) }}
                {{ form_errors(form.count) }}
            </div>

            <div class="pull-left col-md-3 {% if form.consumption.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.consumption) }}
                {{ form_widget(form.consumption) }}
                {{ form_errors(form.consumption) }}
            </div>

        </div>

        <h3>{% trans %}expense.group.cost{% endtrans %}</h3>

        <div class="row">

            <div class="col-md-7">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    {% trans %}expense.hint.deposit{% endtrans %}
                </div>

            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-7 {% if form.deposit.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.deposit) }}
                {{ form_widget(form.deposit) }}
                {{ form_errors(form.deposit) }}
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-7">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    {% trans %}expense.hint.cost_fee_period{% endtrans %}
                    <br><br>
                    {% trans %}expense.hint.period_example{% endtrans %}
                </div>

            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-3 {% if form.fee.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.fee) }}
                {{ form_widget(form.fee) }}
                {{ form_errors(form.fee) }}
            </div>

            <div class="pull-left col-md-2 {% if form.feePeriodCount.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.feePeriodCount) }}
                {{ form_widget(form.feePeriodCount) }}
                {{ form_errors(form.feePeriodCount) }}
            </div>

            <div class="pull-left col-md-2 {% if form.feePeriodType.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.feePeriodType) }}
                {{ form_widget(form.feePeriodType) }}
                {{ form_errors(form.feePeriodType) }}
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-7">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    {% trans %}expense.hint.cost_unit{% endtrans %}
                </div>

            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-7 {% if form.costPerUnit.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.costPerUnit) }}
                {{ form_widget(form.costPerUnit) }}
                {{ form_errors(form.costPerUnit) }}
            </div>

        </div>

        <br>

        <div class="pull-left">
            {{ form_widget(form.submit, { 'label': 'expense.create',  'attr': {'class': 'btn-primary'} }) }}

            {{ form_end(form) }}

            <a href="{{ path('category_new') }}" class="btn btn-primary">
                {% trans %}category.add{% endtrans %}
            </a>

            <a href="{{ path('expense') }}" class="btn btn-default">
                {% trans %}expense.expenses{% endtrans %}
            </a>
        </div>

    {% endif %}
{% endblock %}
