{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}expense.expense{% endtrans %}</h1>

    <table class="record_properties table table-no-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans %}expense.field.category{% endtrans %}</th>
                <td>
                    <a href="{{ path('category_show', { 'id': entity.category.id }) }}">{{ entity.category }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.date{% endtrans %}</th>
                <td>{{ entity.date|localizeddate('long', 'none') }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.period_count{% endtrans %}</th>
                <td>
                    {{ entity.periodCount }}
                    {% if entity.periodType == constant('PERIOD_TYPE_DAY', entity) %}
                        {% transchoice entity.periodCount %}expense.period.day{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_WEEK', entity) %}
                        {% transchoice entity.periodCount %}expense.period.week{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_MONTH', entity) %}
                        {% transchoice entity.periodCount %}expense.period.month{% endtranschoice %}
                    {% elseif entity.periodType == constant('PERIOD_TYPE_YEAR', entity) %}
                        {% transchoice entity.periodCount %}expense.period.year{% endtranschoice %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.count{% endtrans %}</th>
                <td>{{ entity.count|localizednumber }} {{ entity.category.unit }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.consumption{% endtrans %}</th>
                <td>{{ entity.consumption|localizednumber }} {{ entity.category.unit }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.deposit{% endtrans %}</th>
                <td>{{ entity.deposit|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.fee{% endtrans %}</th>
                <td>{{ entity.fee|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.fee_period_count{% endtrans %}</th>
                <td>
                    {{ entity.feePeriodCount }}
                    {% if entity.feePeriodType == constant('PERIOD_TYPE_DAY', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.day{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_WEEK', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.week{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_MONTH', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.month{% endtranschoice %}
                    {% elseif entity.feePeriodType == constant('PERIOD_TYPE_YEAR', entity) %}
                        {% transchoice entity.feePeriodCount %}expense.period.year{% endtranschoice %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}expense.field.cost_per_unit{% endtrans %}</th>
                <td>{{ entity.costPerUnit|localizedcurrency(currency) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-left">
        <a href="{{ path('expense_edit', { 'id': entity.id }) }}" class="btn btn-primary pull-left">
            {% trans %}expense.edit{% endtrans %}
        </a>

        <div class="pull-left m-left-10">
            {{ form(delete_form) }}
        </div>

        <a href="{{ path('expense') }}" class="btn btn-default pull-left m-left-10">
            {% trans %}expense.back_list{% endtrans %}
        </a>
    </div>
{% endblock %}
