{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{% trans %}user.user_edit{% endtrans %}</h1>

    {{ form(edit_form, { 'attr' : { 'class' : 'fos_user_user_edit'} }) }}

    <a href="{{ path('user') }}">
        {% trans %}user.back_list{% endtrans %}
    </a>
    {{ form(delete_form) }}
{% endblock %}
