{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}user.users{% endtrans %}</h1>

    <table class="records_list table table-striped table-no-bordered" data-toggle="table" data-sort-name="username" data-sort-order="asc" data-pagination="true" data-page-size="100" data-page-list="[10,50,100]">
        <thead>
            <tr>
                <th data-field="username" data-sortable="true">{% trans %}user.field.username{% endtrans %}</th>
                <th data-field="email" data-sortable="true">{% trans %}user.field.email{% endtrans %}</th>
                <th data-field="enabled" data-sortable="true">{% trans %}user.field.enabled{% endtrans %}</th>
                <th data-field="locked" data-sortable="true">{% trans %}user.field.locked{% endtrans %}</th>
                <th data-field="expired" data-sortable="true">{% trans %}user.field.expired{% endtrans %}</th>
                <th data-field="roles" data-sortable="true">{% trans %}user.field.roles{% endtrans %}</th>
                <th data-field="actions" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    {% if entity.enabled == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
                <td>
                    {% if entity.locked == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
                <td>
                    {% if entity.expired == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
                <td>
                    {% for role in entity.roles %}
                        {{ role }}
                        <br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}user.show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}user.edit{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">
        {% trans %}user.create{% endtrans %}
    </a>
    {% endblock %}
