{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}user.user_new{% endtrans %}</h1>

    {{ form(form, { 'attr' : { 'class' : 'fos_user_user_new'} }) }}

    <a href="{{ path('user') }}">
        {% trans %}user.back_list{% endtrans %}
    </a>
{% endblock %}
