{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}user.user{% endtrans %}</h1>

    <table class="record_properties table table-no-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans %}user.field.username{% endtrans %}</th>
                <td>{{ entity.username }}</td>
            </tr><tr>
                <th>{% trans %}user.field.email{% endtrans %}</th>
                <td>{{ entity.email }}</td>
            </tr><tr>
                <th>{% trans %}user.field.enabled{% endtrans %}</th>
                <td>
                    {% if entity.enabled == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
            </tr><tr>
                <th>{% trans %}user.field.locked{% endtrans %}</th>
                <td>
                    {% if entity.locked == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
            </tr><tr>
                <th>{% trans %}user.field.expired{% endtrans %}</th>
                <td>
                    {% if entity.expired == true %}
                        {% trans %}user.option.yes{% endtrans %}
                    {% else %}
                        {% trans %}user.option.no{% endtrans %}
                    {% endif %}
                </td>
            </tr><tr>
                <th>{% trans %}user.field.roles{% endtrans %}</th>
                <td>
                    {% for role in entity.roles %}
                        {{ role }}
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user') }}">
        {% trans %}user.back_list{% endtrans %}
    </a>
    <br>
    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary">
        {% trans %}user.edit{% endtrans %}
    </a>
    {{ form(delete_form) }}
{% endblock %}
