{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}category.category{% endtrans %}</h1>
    <h2>{% trans %}category.edit{% endtrans %}</h2>

    {{ form_start(edit_form) }}

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.name.vars.valid == false %}has-error{% endif %}">

            {{ form_label(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
            {{ form_errors(edit_form.name) }}

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.unit.vars.valid == false %}has-error{% endif %}">

            {{ form_label(edit_form.unit) }}
            {{ form_widget(edit_form.unit) }}
            {{ form_errors(edit_form.unit) }}

        </div>

    </div>

    <br>

    <div class="clearfix">
        {{ form_widget(edit_form.submit, { 'label': 'category.update' ,  'attr': {'class': 'btn-primary pull-left'} }) }}

        {{ form_end(edit_form) }}

        {{ form(delete_form, { 'attr': {'class': 'pull-left'} }) }}

        <a href="{{ path('category') }}" class="btn btn-default m-left-10">
            {% trans %}category.back_list{% endtrans %}
        </a>
    </div>

{% endblock %}
