{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}category.categories{% endtrans %}</h1>

    {% if entities is empty %}

        <div class="alert alert-info" role="alert">{% trans %}category.alert.empty_list{% endtrans %}</div>

        <a href="{{ path('category_new') }}" class="btn btn-primary">
            {% trans %}category.add{% endtrans %}
        </a>
        <br><br>
        <p>
            <a href="{{ path('consumption') }}">
                {% trans %}consumption.consumptions{% endtrans %}
            </a>
        </p>

    {% else %}

        <table class="records_list table table-striped table-no-bordered" data-toggle="table" data-sort-name="name" data-sort-order="asc" data-pagination="true" data-page-size="100" data-page-list="[10,50,100]">
            <thead>
                <tr>
                    <th data-field="name" data-sortable="true">{% trans %}category.field.name{% endtrans %}</th>
                    <th data-field="unit" data-sortable="true">{% trans %}category.field.unit{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.unit }}</td>
                    <td>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}category.show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}category.edit{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        <div class="pull-left">
            <a href="{{ path('category_new') }}" class="btn btn-primary">
                {% trans %}category.add{% endtrans %}
            </a>
            <a href="{{ path('expense') }}" class="btn btn-default">
                {% trans %}expense.expenses{% endtrans %}
            </a>
            <a href="{{ path('consumption') }}" class="btn btn-default">
                {% trans %}consumption.consumptions{% endtrans %}
            </a>
        </div>

    {% endif %}
{% endblock %}
