{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}category.category{% endtrans %}</h1>
    <h2>{% trans %}category.create{% endtrans %}</h2>

    {{ form_start(form) }}

    <div class="row">

        <div class="pull-left col-md-4 {% if form.name.vars.valid == false %}has-error{% endif %}">

            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}

        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-4 {% if form.unit.vars.valid == false %}has-error{% endif %}">

            {{ form_label(form.unit) }}
            {{ form_widget(form.unit) }}
            {{ form_errors(form.unit) }}

        </div>

    </div>

    <br>

    <div class="pull-left">
        {{ form_widget(form.submit, { 'label': 'category.create' ,  'attr': {'class': 'btn-primary'} }) }}

        {{ form_end(form) }}

        <a href="{{ path('category') }}" class="btn btn-default">
            {% trans %}category.categories{% endtrans %}
        </a>
    </div>

{% endblock %}
