{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}category.category{% endtrans %}</h1>

    <table class="record_properties table table-no-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans %}category.field.name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}category.field.unit{% endtrans %}</th>
                <td>{{ entity.unit }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-left">
        <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-primary pull-left">
            {% trans %}category.edit{% endtrans %}
        </a>

        <div class="pull-left m-left-10">
            {{ form(delete_form) }}
        </div>

        <a href="{{ path('category') }}" class="btn btn-default pull-left m-left-10">
            {% trans %}category.back_list{% endtrans %}
        </a>
    </div>
{% endblock %}
