{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-info" role="alert">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
{% endblock fos_user_content %}
