{% trans_default_domain 'FOSUserBundle' %}

<h1>{{ 'layout.register'|trans }}</h1>
<form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
    </div>
</form>