{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-info" role="alert">{{ 'resetting.password_already_requested'|trans }}</div>
{% endblock fos_user_content %}
