{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}consumption.consumption{% endtrans %}</h1>
    <h2>{% trans %}consumption.edit{% endtrans %}</h2>

    {{ form_start(edit_form) }}

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.category.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.category) }}
            {{ form_widget(edit_form.category) }}
            {{ form_errors(edit_form.category) }}
        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.name.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
        </div>

    </div>

    <div class="row">

        <div class="pull-left col-md-4 {% if edit_form.value.vars.valid == false %}has-error{% endif %}">
            {{ form_label(edit_form.value) }}
            {{ form_widget(edit_form.value) }}
            {{ form_errors(edit_form.value) }}
        </div>

    </div>

    {{ form_widget(edit_form.createdAt) }}

    <br>

    <div class="clearfix">
        {{ form_widget(edit_form.submit, { 'label': 'consumption.update' ,  'attr': {'class': 'btn-primary pull-left'} }) }}

        {{ form_end(edit_form) }}

        {{ form(delete_form, { 'attr': {'class': 'pull-left'} }) }}

        <a href="{{ path('consumption') }}" class="btn btn-default m-left-10">
            {% trans %}consumption.back_list{% endtrans %}
        </a>
    </div>

{% endblock %}
