{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{% trans %}consumption.consumptions{% endtrans %}</h1>

    {% if entities is empty %}

        <div class="alert alert-info" role="alert">{% trans %}consumption.alert.empty_list{% endtrans %}</div>

        <a href="{{ path('consumption_new') }}" class="btn btn-primary">
            {% trans %}consumption.add{% endtrans %}
        </a>
        <a href="{{ path('category_new') }}" class="btn btn-primary">
            {% trans %}category.add{% endtrans %}
        </a>
        <br><br>
        <p>
            <a href="{{ path('category') }}">
                {% trans %}category.categories{% endtrans %}
            </a>
        </p>

    {% else %}

        <table class="records_list table table-striped table-no-bordered" data-toggle="table" data-sort-name="createdAt" data-sort-order="desc" data-pagination="true" data-page-size="100" data-page-list="[10,50,100]">
            <thead>
                <tr>
                    <th data-field="category" data-sortable="true">{% trans %}consumption.field.category{% endtrans %}</th>
                    <th data-field="name" data-sortable="true">{% trans %}consumption.field.name{% endtrans %}</th>
                    <th data-field="value" data-sortable="true">{% trans %}consumption.field.value{% endtrans %}</th>
                    <th data-field="createdAt" data-sortable="true">{% trans %}consumption.field.created_at{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('category_show', { 'id': entity.category.id }) }}">{{ entity.category }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.value|localizednumber }} {{ entity.category.unit }}</td>
                    <td><span class="hidden">{{ entity.createdAt|date('Y-m-d H:i:s') }}</span>{{ entity.createdAt|localizeddate('medium', 'short') }}</td>
                    <td>
                        <a href="{{ path('consumption_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}consumption.show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('consumption_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{% trans %}consumption.edit{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        <div class="pull-left">
            <a href="{{ path('consumption_new') }}" class="btn btn-primary">
                {% trans %}consumption.add{% endtrans %}
            </a>
            <a href="{{ path('category') }}" class="btn btn-default">
                {% trans %}category.categories{% endtrans %}
            </a>
        </div>

    {% endif %}
{% endblock %}
