{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}consumption.consumption{% endtrans %}</h1>

    <h2>{% trans %}consumption.create{% endtrans %}</h2>

    {% if category == false %}

        <div class="alert alert-info" role="alert">{% trans %}consumption.alert.no_category{% endtrans %}</div>

        <a href="{{ path('category_new') }}" class="btn btn-primary">
            {% trans %}category.add{% endtrans %}
        </a>

    {% else %}

        {{ form_start(form) }}

        <div class="row">

            <div class="pull-left col-md-4 {% if form.category.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-4 {% if form.name.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

        </div>

        <div class="row">

            <div class="pull-left col-md-4 {% if form.value.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.value) }}
                {{ form_widget(form.value) }}
                {{ form_errors(form.value) }}
            </div>

        </div>

        {{ form_widget(form.createdAt) }}

        <br>

        <div class="pull-left">
            {{ form_widget(form.submit, { 'label': 'consumption.create',  'attr': {'class': 'btn-primary'} }) }}

            {{ form_end(form) }}

            <a href="{{ path('category_new') }}" class="btn btn-primary">
                {% trans %}category.add{% endtrans %}
            </a>

            <a href="{{ path('consumption') }}" class="btn btn-default">
                {% trans %}consumption.consumptions{% endtrans %}
            </a>
        </div>

    {% endif %}
{% endblock %}
