{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}consumption.consumption{% endtrans %}</h1>

    <table class="record_properties table table-no-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans %}consumption.field.category{% endtrans %}</th>
                <td>
                    <a href="{{ path('category_show', { 'id': entity.category.id }) }}">{{ entity.category }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}consumption.field.name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}consumption.field.value{% endtrans %}</th>
                <td>{{ entity.value|localizednumber }} {{ entity.category.unit }}</td>
            </tr>
            <tr>
                <th>{% trans %}consumption.field.created_at{% endtrans %}</th>
                <td>{{ entity.createdAt|localizeddate('long', 'short') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-left">
        <a href="{{ path('consumption_edit', { 'id': entity.id }) }}" class="btn btn-primary pull-left">
            {% trans %}consumption.edit{% endtrans %}
        </a>

        <div class="pull-left m-left-10">
            {{ form(delete_form) }}
        </div>

        <a href="{{ path('consumption') }}" class="btn btn-default pull-left m-left-10">
            {% trans %}consumption.back_list{% endtrans %}
        </a>
    </div>    
{% endblock %}
