{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>{{ 'layout.login'|trans }}</h1> 
<form action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_registration_login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
    	<label class="control-label required" for="username">{{ 'security.login.username'|trans }}</label>
    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
    </div>	

	<div class="form-group">
    	<label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
    	<input type="password" id="password" name="_password" required="required" class="form-control" />
        <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>

    </div>	

    <div class="form-group">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" class="remember-me" />
    	<label class="control-label required" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
</form>
{% endblock fos_user_content %}
